<!DOCTYPE html>
<html lang="en">
<head>
	<title>spf_2018</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="resources/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('resources/bg-01.jpg');">
			<div class="wrap-login100">
				<form action="../controller/signupUser.php" class="login100-form validate-form" 
						onsubmit="return doUIValidation();" method="POST">
					<span class="login100-form-logo">
						<!--<i class="zmdi zmdi-landscape"></i>-->
						<img src = "resources/Kean_Logo_Transparent.png" width = "80px" height="80px"> 
					</span>

					<span class="login100-form-title p-b-15 p-t-20">
						Sign Up
					</span>

					<div id="fieldPlaceholder" align="center" >

					<label class="signupLabel">First Name</label><input type = "text" name = "firstName" class = "box" required="required" /><br/>

					<label class="signupLabel">Last Name</label><input type = "text" name = "lastName" class = "box" required="required" /><br/>

					<label class="signupLabel">Username</label><input type = "text" name = "uname" class = "box" required="required" /><br/>

					<label class="signupLabel">Email ID</label><input id ="emailField" type = "email" name = "emailID" class = "box" required="required" /><br />

					<label class="signupLabel">Birthdate</label><input type = "date" name = "birthdate" class = "box" required="required" /><br/>

					<label class="signupLabel">Gender</label>
					<select  name="gender">
						<option value="F">Female</option>
						<option value="M">Male</option>
						<option value="O">Other</option>
					</select>
					<br/>
					<label class="signupLabel">Password</label><input id="passwordField" type = "password" name = "password" class = "box" required="required" /><br/>

					<label class="signupLabel">Retype Password</label><input id="rePasswordField" type = "password" name = "reTypePassword" class = "box" required="required" /> <br/><br/>

					 
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
						Sign Up
						</button>
					</div>

					<!--<div class="text-center p-t-30">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>-->
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="js/utility.js"></script>
  	<script type="text/javascript">
	  	$(window).on("load", function() {
			// Executes when complete page is fully loaded, including
			// all frames, objects and images

			var urlParams = new URLSearchParams(window.location.search);
			var result = urlParams.get('result');	//retrieves the value of parameter from URL

			// check if result is not empty and display message
    		if(result != null && result != '') {	
    			alert(result);	// Alert user with appropriate alert message
    			window.history.replaceState({}, document.title, "/" + "~2018spf/view/login.html");	// Remove GET values from URL to normal URL path
    		}
		});

		// Validate if email is from kean.edu
    	function doUIValidation() {
    		if(!document.getElementById("emailField").value.includes("kean.edu")) {
    			
    			alert("Please enter your Kean email id only");
    			return false;
    		}
    		if(document.getElementById("passwordField").value != document.getElementById("rePasswordField").value){	// Check if passwords match when signing up
    			
    			alert("Passwords should match");
    			return false;	
    		}
    		return;
    	}
    </script>
</body>
</html>